$gray: #7D8285;
$gray-light: lighten($gray, 30%);
$grey-bg: #F5F6F8;
$shadow: #1A1B23;
$shadow-gray: #f0f0f0;
$border: #E4E4E7;
$white: #FFFFFF;
$base: #2B2525;
$primary: #41B883;
$primary-light: lighten($primary, 30%);
$primary-dark: darken($primary, 10%);
$secondary: #34495E;
$errorColor: #cc0000;


$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Rubik', sans-serif;



// Sizes
$header-height: 3.75rem;